a.nav-text{
    text-decoration: none;
    color: white;
    margin: auto;
    border: 3px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8rem;
}

nav.nav-text{
    background-color: black;
    padding: 30px;
}

header{
    padding: 2rem;
    padding: 2rem 4rem;
}

.seccion-categorias{
    margin: auto;
    width: 50%;
    border: 1px solid black;
    padding: 10px;
}

h1{
    margin: auto;
    width: 50%;
    color: solid black;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

p.precios{
    font-weight: bold;
}

main.productos{
    margin: auto;
    width: 50%;
    border: 1px solid black;
    padding: 10px;
}